.button{
    background: var(--purple);
    padding: 0.5em 4em;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-wrap: nowrap;
    color: var(--button_color);
    width: 100%;
    margin-bottom: 0.65em;
    transition: opacity 0.2s ease;
}
.button:hover{
    opacity: 80%;
}

.register{
    padding: 0.5em 1.75em;
}