
[build]

  base = "/"

  publish = "/client/build"

  command = "cd client && npm install && npm run build && cd ../"
  

  functions = "server/netlify/functions" 

[[redirects]]
  from = "/api/*"
  
  to = "/.netlify/functions/api/:splat"
  
  status = 200
  force = true
