
[build]

  base = "client"

  publish = "build"

  command = "npm install && npm run build"

  functions = "server/netlify/functions" 


[[redirects]]
  from = "/api/*"

  to = "/.netlify/functions/my-api/:splat"
  
  status = 200
  force = true
