# Этот файл должен быть в корневом каталоге вашего репозитория.

[build]
  # Директория для выполнения команды сборки (корень репозитория)
  base = "./"
  # Путь для публикации (относительно корневой директории)
  publish = "client/build"
  
  # Команда сборки
  command = "npm --prefix client install && npm run build --prefix client && npm --prefix server install"
  
  # УПРОЩЕНИЕ: Указываем прямой путь к папке с функциями.
  functions = "server/netlify/functions" 

# ---
# Новая секция для управления бессерверными функциями Netlify
# ---
[functions]
  # Явно указываем, где искать зависимости для esbuild
  external_node_modules = [
    "express",
    "serverless-http"
  ]
  # Также убеждаемся, что Netlify использует Node.js для сборки функций:
  node_bundler = "esbuild"
  directory = "server/netlify/functions"

[[redirects]]
  from = "/api/*"
  
  # Перенаправляем на функцию 'api' (ВАЖНО: файл должен называться api.ts)
  to = "/.netlify/functions/api/:splat"
  
  status = 200
  force = true
