.information{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3em;
}
.text{
    margin-bottom: 2em;
}
.first{
    color: var(--purple);
}
.second{
    color: var(--green);
}
.forgot_password_link button{
    color: var(--green);
    text-decoration: underline;
    cursor: pointer;
    margin: 0 auto 1.25em;
    font-size: calc((100vw - 360px)/(1920 - 360) * (22 - 12) + 12px);
    background: none;
    border: none;
    transition: opacity 0.2s ease;
}
.forgot_password_link button:hover{
    opacity: 80%;
}
.input_block{
    align-items:center;
    max-width: 620px;
    min-width: 240px;
    display: flex;
    flex-direction: column;
}
.navlink{
        display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width:992px) {
    .logo{
        text-align: center;
    }
}